body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo{
    float: left;
    color: #fff;
    font-size: 30px;
    line-height: 60px;
    padding-left: 200px;
}

.menu{
    float:inherit;
    padding-left: 600px;
    
}

.menu li{
    float: left;
    color: #fff;
    font-size: 14px;
    line-height: 60px;
    margin-right: 40px;
    text-transform:capitalize;
}

.menu li a:visited{
    color: white;
}

.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;

}
.title__container{
    float: left;
    margin: 180px 0px 0px 200px;
    color: #2c384a;
    text-align: center;
  
}


.title__container h1{
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}

.title__container h4{
    color: #79818d;
    text-align: center;
    margin-top: 30px;
    font-size: 22px;
}

.title__container input{
    width: 96px;
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    cursor: pointer;
    margin: 50px 14px 0px 14px;
}

.about_me_container h2{
    text-align: center;
    width: 96px;
    font-size: 22px;
    margin: 20px auto;
    padding-bottom: 5px;
    margin-left: calc(50%-48px)
}

.about_me_container{
    width: 740px;
    margin: 0 auto;
}
.about_me_container img{
    display: block;
    margin: 0 auto;
}

.about_me_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0 auto;
}

.about_me_container p{
    margin-top: 30px;
    
}

.about_me_container .secondText{
    margin-top: 15px;
}

.about_me_container input{
     width: 150px;
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    cursor: pointer;
    margin: 20px 14px 100px 300px;
}

.skills_container h2{
    text-align: center;
    width: 96px;
    font-size: 22px;
    margin: 20px auto;
    padding-bottom: 5px;
    margin-left: calc(50%-48px)
    
}

.skills_container{
    width: 1320px;
    height: 408px;
    margin: 0 auto;
    background: url(../img/bg2.jpg)center/cover no-repeat;
}

.skills_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0 auto;
}

.skills_item{
    float: left;
    top: 50px;
    width: 200px;
    margin: 100px 0px 100px 100px;
    text-align: center;
}
.clear{
    clear:left;
}

.statistic_container h2{
    text-align: center;
/*    border-bottom: 4px solid #d17700;*/
    width: 96px;
    font-size: 22px;
    margin: 10px auto;
    padding-bottom: 5px;
}
.statistic_container{
    width: 1320px;
    height: 408px;
    margin: 0 auto;
    background: url(../img/bg3.jpg);
}
.statistic_item{
    display: inline-block;
    top: 50px;
    width: 320px;
    text-align: center;
}

.clear{
    clear:left;
}

.portfolio_container h2{
     text-align: center;
    width: 96px;
    font-size: 22px;
    margin: 20px auto;
    padding-bottom: 5px;
    margin-left: calc(50%-48px)
}

.portfolio_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0 auto;
}

.portfolio_container img{
    display: block;
    margin: 0 auto;
}

.portfolio_container p{
    text-align: center;
    margin: 40px auto;
}


.description_left{
    float: left;
    width: 230px;
    
}

.description_right{
    float: left;
    width: 930px;
    
}

.clear{
    clear:left;
}

.calculator_container{
    width: 920px;
    margin: 20px auto;
}

.calculator_container h2{
    text-align: center;
    width: 200px;
    font-size: 22px;
    margin: 20px auto;
    padding-bottom: 5px;
    margin-left: calc(50%-48px)
}

.mySelect{
    display:block;
    width: 900px;
    height: 54px;
    background: #999;
}

.reviews_container h2{
    text-align: center;
    width: 96px;
    font-size: 22px;
    margin: 20px auto;
    padding-bottom: 5px;
    margin-left: calc(50%-48px)
}

.reviews_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0 auto;
}

.reviews_container img{
    display: block;
    margin: 0 auto;
}

.reviews_container{
    width: 740px;
    margin: 0 auto;
}

.reviews_container p{
    text-align: center;
    margin-top: 30px;
    
}

.contacts_container{
     width: 1420px;
    height: 408px;
    margin: 0 auto;
    background: url(../img/bg4.jpg)center/cover no-repeat;
}

.contacts_container h2{
    text-align: center;
    width: 96px;
    font-size: 22px; color: white;
    margin: 20px auto;
    padding-bottom: 5px;
    margin-left: calc(50%-48px)
}

.contacts_container h3{
    text-align: center;
    margin-top: 30px;
    width: 250px;
    font-size: 18px; color: white;
    margin: 20px auto;
    padding-bottom: 5px;
    margin-left: calc(50%-48px)
}

.contacts_container hr{
    color: white;
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0 auto;
}

.contacts_data_item{
    margin-top: 30px;
    color: white;
    display:inline-block;
    top: 50px;
    width: 420px;
    text-align: center;
}

.contacts_inputs{
    display:inline-block;
    margin-top: 30px;
    top: 50px;
    width: 420px;
    text-align: center;
}
